name: helm-lint

on: [push, pull_request]

jobs:
  helm-lint:
    runs-on: ubuntu-20.04

    steps:
      - name: Lint helm charts
        uses: bakdata/ci-templates/actions/helm-lint@feature/helm-release-workflow
